// DEFAULT VARIABLES
///////////////////////
@cdn: 							"//d3rzn3r1l52zrm.cloudfront.net/";//"http://ubla.sytes.net/";
@theme:                         "mother";

@home:                          "home.jpg";
@about:                         "about.jpg";
@footer:                        "footer.png";

@import "home";
@import "about";
@import "footer";
@import "contact";