#home {
	padding-top: 50px;
	padding-bottom: (@line-height-computed * 2);
	background-image: url("@{cdn}images/@{theme}/@{home}");
	background-position: top center;
			background-size: cover;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
				
	background-repeat: no-repeat;
	background-color: #050306;
	//background-attachment: fixed;
	//.transition(background-position .2s);
	color: white;
	.left {
		// LEFT SIDE

		img {
			width: 100%;
		}
		.header-title {
			font-size: 3.5em;
			font-weight: normal;
			@media (max-width: @screen-xs) { 
				& {
					font-size: 2.5em;
				}
			}
		}
		.txt-shadow(#000);
		.general-information {
			margin-top: 51px;
			background-color: fade(#FFF, 10%);
			padding: 10px;
			font-size: .96em;
			p {
				margin: 0;
			}
		}
	}
	.right {
				
		.hidden-xs {
			display: inline-block!important;
			@media (max-width: @screen-xs-max) {
				display: none!important;
			}
		}
		header {
			h1,h2,h3,h4,h5,h6 {
				text-shadow: 1px 1px 2px fade(#000, 20%);
				width: 100%
			}
		}
		//.owned { font-weight: 700; }
		.available {
			text-shadow: 1px 1px 2px fade(#000, 20%);
			a {
				color: #ededed;
				display: table;
				overflow: hidden;
			}
			p.text-uppercase {
				background-color: fade(@ubl-color, 90%)!important;
			}
		}
		.reserved {
			text-shadow: 1px 1px 2px fade(#000, 20%);
			a { color: red; }
			p.text-uppercase { background-color: fade(#FFF, 90%)!important; }
		}
		.owned {
			a { color: white; }
		}
		.thumbnails {
			
			a, a:hover, a:link, a:visited {
				text-decoration: none;
			}
			._hpac{
				text-align: center;
				cursor: pointer;
				margin-top: 5px;
				&:hover {
					p {
						//opacity: 0;
						margin-bottom: -50px;
						line-height: 50px;
						height: 50px;
					}
					img {
						opacity: 0.7;
					}
				}
			}
			.img {
				background-color: #FFF;
			}
			
			p {
				.transition(all .2s);
				margin-bottom: -30px;
				height: 30px;
				position: relative;
				background-color: fade(#000, 75%);
				line-height: 30px;
				z-index: 99;
			}
			img {
				width: 100%;
				min-width: 153px;
				cursor: pointer;
				//min-height: 123px;
				height: 100%;
				.transition(all .2s);
				&:hover {
					opacity: 0.7;
				}
			}
		}

		.comingsoonapps {
			.gutter {
				margin-top: 44px;
			}
		}

		.pager {
			.jp-previous, .jp-next {
				//width: 50%;
				display: inline-block;
				background-color: #FFF;
				padding: 5px 14px;
				border: 1px solid #ddd;
				cursor: pointer;
				text-decoration: none;
				&.jp-disabled {
					cursor: not-allowed;
					color: #999;
				}
			}
			.jp-current {
				background-color: @brand-primary;
				color: #FFF;
				border: 1px solid @brand-primary;
			}
			a, span {
				display: inline-block;
				padding: 5px 10px;
				background-color: #FFF;
				border: 1px solid #ddd;
				cursor: pointer;
				text-decoration: none;
			}
			span {
				color: #000;
			}
			.jp-previous {
				border-radius: 5px 0 0 5px;
			}
			.jp-next {
				border-radius: 0 5px 5px 0;
			}
		}

	}

}
// BANADS
#banads {
	.carousel-inner {
		img {
			width: 100%;
			text-align: center;
		}
	}
}